<h1 class="text-center mt-4">Update category name</h1>
<div class="container">
    <div class="row justify-content-center">       
        <div class="col-10">
            <%= render 'form' %>
        </div>
        <%= link_to '[ Cancel and return to the category page ]', @category %>
    </div>
</div>